<h1>Users</h1>

<h2>Hosts</h2>
<% @hosts.each do |user| %>
    <%= link_to user.name, user %>
<% end %>

<h2>Other Users</h2>
<% @other_users.each do |user| %>
    <p><%= link_to user.name, user %></p>
<% end %>


<br><br>

<%= link_to 'New User', new_user_path %>